<%= form_for(@course) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time, minute_step: 15, ampm:true %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time, minute_step: 15, ampm:true %>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.select :day, [['Sunday', 'Sunday'],
                        ['Monday', 'Monday'],
                        ['Tuesday', 'Tuesday'],
                        ['Wednesday', 'Wednesday'],
                        ['Thursday', 'Thursday'],
                        ['Friday', 'Friday'],
                        ['Saturday', 'Saturday']]
    %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
